.wrapper {
	text-align: center;
	color: var(--text-color-light);
}

.svg {
	max-width: 250px;
}
.header {
	font-size: larger;
	font-weight: bold;
	margin: 2.5rem 0 0;
}
.notice {
	margin: 1rem 0 0;
}
