.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--system-main-bg-color-footer);
}

.link {
  flex-grow: 1;
  display: flex;
  margin: 0.25rem;
  align-items: center;
  justify-content: center;
}

.svg {
	max-height: 1rem;
}