@import "~@clp/shared/lib/styles/_mixins.scss";

.overview {
  @include min-width(lg) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.svg {
  margin: 0 0 3rem;
  @include min-width(lg) {
    margin: 0;
  }
}

.card {
  margin: 0 0 3rem;
}
